<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Navbar Brand (Logo or Website Name) -->
    <a class="navbar-brand" href="#">MyWebsite</a>
  
    <!-- Toggler for mobile view -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <!-- Home link -->
        <li class="nav-item active">
          <a class="nav-link" routerLink="home" routerLinkActive="bg-danger">Home </a>
        </li>
        <!-- About link -->
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="bg-danger">About</a>
        </li>
        <!-- Contact link -->
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="bg-danger">Contact</a>
        </li>
        <!-- Blog link -->
        <li class="nav-item">
          <a class="nav-link" routerLink="blog" routerLinkActive="bg-danger">Blog</a>
        </li>
      </ul>
    </div>
  </nav>
  
